html {
    padding: 0px;
}
body {
    color: white;
    background: rgba(0, 10, 30, 1);
    text-align: center;
    padding: 0px;
    margin: 0px;
    font-family: 'Noto Sans Linear B';
}
@keyframes flash {
    0% {
        color: rgba(230, 210, 30, 1);
    }
    50% {
        color: rgba(130, 110, 15, 1);
    }
    100% {
        color: rgba(230, 210, 30, 1);
    }
}
@keyframes star {
    0% {
        background: rgba(230, 210, 230, 1);
    }
    50% {
        background: rgba(170, 160, 170, 1);
    }
    100% {
        background: rgba(230, 210, 230, 1);
    }
}
.alien-text {
    font-family: 'Noto Sans Linear B';
    animation: flash 2s infinite;
    font-size: 30pt;
    width: 60%;
}
#title {
    font-family: 'Nova Mono';
    font-size: 90pt;
}
.star {
    animation: star 1s infinite;
    width: 10px;
    height: 10px;
    border-radius: 30px;
}
#sky {
    width: calc(100%);
    margin: 0px;
    padding: 0px;
}
#screen {
    position: fixed;
    z-index: 999;
}
#description {
    width: 30%;
    margin-left: 35%;
}
#start-button {
    background: rgb(23, 208, 23);
    width: 175px;
    border-radius: 15px;
    color: white;
    border: none;
    font-family: 'Press Start 2P';
    padding: 15px;
}
button:hover {
    cursor: pointer;
    background: rgb(23, 120, 23) !important;
}